OPENROUTER_API_KEY=OPENROUTER_API_KEY

DATABASE_URL=postgresql+asyncpg://user:password@host:port/database?ssl=require

ALGORITHM=HS256
SECRET_KEY=SECRET_KEY
ACCESS_TOKEN_EXPIRE_MINUTES=60

ENCRYPT_SECRET_KEY=ENCRYPT_SECRET_KEY
